.games-list a:hover{
    text-decoration: none;
}
.games-list h1 {
    margin-bottom: 20px;
}
.games-list h5 {
    color: #333;
}
.games-list .room-link-active {
    cursor: pointer;
}
.games-list .room-user-active .card{
    border: 2px solid #09c;
}

.games-list-block {
    margin-top: 20px;
}

.games-list-active {
    cursor: pointer;
    border: 2px solid #6d4f9b;
    margin-bottom: 40px;
}

.games-list-disabled {
    cursor: none;
    pointer-events: none;
    margin-bottom: 40px;
    border: 2px solid #c0b9c0;
}

.seed {
    margin-left: 20px;
    padding: 8px 20px;
    margin-bottom: 2px;
}

.link-create-game {
    padding: 10px 20px;
    border: 2px solid #6d4f9b;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #6d4f9b;
}
.link-create-game:hover {
    background: #6d4f9b;
    color: #fff;
}
